# Frontend (Vite/React)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.vercel/
frontend/.netlify/

# Genel
.DS_Store
Thumbs.db
.vscode/
*.log
*.tmp

# Python (lokal araçlar)
tools/**/__pycache__/
tools/**/*.pyc

data_cv

__pycache__

content_editor\tabs\__pycache__
content_editor\widgets\__pycache__
content_editor\services\__pycache__
content_editor\__pycache__